DATA PREPARATION

In [48]:
import pandas as pd

movies = pd.read_csv('data.csv')
movies

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [49]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

FEATURE SELECTION - CHOOSING ID, TITLE, OVERVIEW, AND GENRE

In [50]:
movies = movies[['id','title','overview','genre']]
print(movies)

          id                                          title  \
0        278                       The Shawshank Redemption
1      19404                    Dilwale Dulhania Le Jayenge
2        238                                  The Godfather
3        424                               Schindler's List
4        240                         The Godfather: Part II
...      ...                                            ...
9995   10196                             The Last Airbender
9996  331446                       Sharknado 3: Oh Hell No!
9997   13995                                Captain America
9998    2312  In the Name of the King: A Dungeon Siege Tale
9999  455957                                         Domino

                                               overview  \
0     Framed in the 1940s for the double murder of h...
1     Raj is a rich, carefree, happy-go-lucky second...
2     Spanning the years 1945 to 1955, a chronicle o...
3     The true story of how businessman Oskar Schind...
4     In the continuing saga of the Corleone crime f...
...                                                 ...
9995  The story follows the adventures of Aang, a yo...
9996  The sharks take bite out of the East Coast whe...
9997  During World War II, a brave, patriotic Americ...
9998  A man named Farmer sets out to rescue his kidn...
9999  Seeking justice for his partner’s murder by an...

                                                 genre
0                                          Drama,Crime
1                                 Comedy,Drama,Romance
2                                          Drama,Crime
3                                    Drama,History,War
4                                          Drama,Crime
...                                                ...
9995                          Action,Adventure,Fantasy
9996  Action,TV Movie,Science Fiction,Comedy,Adventure
9997                        Action,Science Fiction,War
9998                    Adventure,Fantasy,Action,Drama
9999                             Thriller,Action,Crime

[10000 rows x 4 columns]

In [51]:
movies['tags'] = movies['genre'] + movies['overview']
new_data = movies.drop(columns=['overview','genre'])
print(new_data)

          id                                          title  \
0        278                       The Shawshank Redemption
1      19404                    Dilwale Dulhania Le Jayenge
2        238                                  The Godfather
3        424                               Schindler's List
4        240                         The Godfather: Part II
...      ...                                            ...
9995   10196                             The Last Airbender
9996  331446                       Sharknado 3: Oh Hell No!
9997   13995                                Captain America
9998    2312  In the Name of the King: A Dungeon Siege Tale
9999  455957                                         Domino

                                                   tags
0     Drama,CrimeFramed in the 1940s for the double ...
1     Comedy,Drama,RomanceRaj is a rich, carefree, h...
2     Drama,CrimeSpanning the years 1945 to 1955, a ...
3     Drama,History,WarThe true story of how busines...
4     Drama,CrimeIn the continuing saga of the Corle...
...                                                 ...
9995  Action,Adventure,FantasyThe story follows the ...
9996  Action,TV Movie,Science Fiction,Comedy,Adventu...
9997  Action,Science Fiction,WarDuring World War II,...
9998  Adventure,Fantasy,Action,DramaA man named Farm...
9999  Thriller,Action,CrimeSeeking justice for his p...

[10000 rows x 3 columns]

C:\Users\jackd\AppData\Local\Temp\ipykernel_26376\2497423804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['genre'] + movies['overview']

BUILD MACHINE LEARNING MODEL USING NLP - VECTORIZER

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000, stop_words='english')
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

USE COSINE SIMILARITY TO COMPARE MOVIES SIMILARITY IN TERMS OF OVERVIEW AND GENRE (TAGS)

In [53]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
print(similarity)

[[1.         0.11009638 0.09534626 ... 0.1254363  0.11396058 0.05025189]
 [0.11009638 1.         0.17320508 ... 0.         0.         0.        ]
 [0.09534626 0.17320508 1.         ... 0.0438529  0.05976143 0.        ]
 ...
 [0.1254363  0.         0.0438529  ... 1.         0.05241424 0.04622502]
 [0.11396058 0.         0.05976143 ... 0.05241424 1.         0.06299408]
 [0.05025189 0.         0.         ... 0.04622502 0.06299408 1.        ]]

FUNCTION USED FOR MOVIE RECOMMENDATION

In [54]:
def recommend(movie):
    index = new_data[new_data['title']==movie].index[0]
    distance = sorted(list(enumerate(similarity[index])),reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data['title'].iloc[i[0]])

In [55]:
recommend("Iron Man")

Iron Man
Marvel One-Shot: Item 47
Mazinger Z: Infinity
Star Wars: The Force Awakens
Insurgent

In [ ]:
import pickle 
pickle.dump(new_data, open('movies_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

FileNotFoundError: [Errno 2] No such file or directory: 'movieslist.pkl'